.section-snackbar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.section-link_snackbar {
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.5;
  font-size: 20px;
}

.section-link_snackbar:hover,
.section-link_snackbar:focus {
  color: #4e75ff;
}

/* ========== */

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  background-color: #fafafa;
  width: 360px;
  margin: 0 auto;
  padding: 32px;
  border-radius: 4px;
}

.form label {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.form label input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  outline: transparent;
}

.form label input:hover {
  border: 1px solid #000;
}

.form fieldset {
  width: 360px;
  height: 78px;
  border-radius: 4px;
  padding: 14px 48px 8px;
  display: flex;
  gap: 48px;
  box-sizing: border-box;
}

.form fieldset label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.form fieldset label input {
  width: 24px;
  height: 24px;
}

.form button {
  display: flex;
  width: 360px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
}

.form button:hover {
  background: #6c8cff;
}
